@charset "UTF-8";

/** @section Sections */

.section-xs {
    padding: 25px 0;
}

.section-sm,
.section-md,
.section-lg,
.section-xl {
    padding: 50px 0;
}

.section-1 {
    padding: 15px 0 30px;
}

.section-2 {
    padding: 35px 0 50px;
}

.section-collapse+.section-collapse {
    padding-top: 0;
}

.section-collapse:last-child {
    padding-bottom: 0;
}

html [class*='section-'].section-top-0 {
    padding-top: 0;
}

html [class*='section-'].section-bottom-0 {
    padding-bottom: 0;
}

@media (max-width: 991.98px) {
    section.section-sm:first-of-type,
    section.section-md:first-of-type,
    section.section-lg:first-of-type,
    section.section-xl:first-of-type,
    section.section-xxl:first-of-type {
        padding-top: 40px;
    }
}

@media (min-width: 768px) {
    .section-sm {
        padding: 55px 0;
    }
    .section-md {
        padding: 70px 0;
    }
    .section-lg {
        padding: 85px 0;
    }
    .section-1 {
        padding: 60px 0 70px;
    }
    .section-2 {
        padding: 55px 0 75px;
    }
}

@media (min-width: 992px) {
    .section-sm {
        padding: 60px 0 65px;
    }
    .section-md {
        padding: 85px 0 95px;
    }
    .section-lg {
        padding: 100px 0;
    }
}

@media (min-width: 1200px) {
    .section-lg {
        padding: 100px 0 110px;
    }
    .section-1 {
        padding: 80px 0;
    }
}

.section-single {
    display: flex;
    text-align: center;
}

.section-single p {
    margin-left: auto;
    margin-right: auto;
}

.section-single *+.rights {
    margin-top: 35px;
}

.section-single *+.countdown-wrap {
    margin-top: 35px;
}

.section-single .countdown-wrap+* {
    margin-top: 35px;
}

@media (min-width: 992px) {
    .section-single *+.rights {
        margin-top: 60px;
    }
    .section-single .countdown-wrap+* {
        margin-top: 35px;
    }
}

.section-single .rd-mailform-wrap {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-single *+.rd-mailform-wrap {
    margin-top: 20px;
}

.section-single-header {
    padding: calc(1em + 3vh) 0 calc(1em + 2vh);
}

.section-single-main {
    padding: calc(1em + 4vh) 0;
}

.section-single-footer {
    padding: calc(1em + 2vh) 0 calc(1em + 3vh);
}

.section-single-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.section-single-inner>* {
    width: 100%;
}

@supports (display: grid) {
    .section-single-inner {
        display: grid;
        justify-items: center;
        align-content: space-between;
        grid-template-columns: 1fr;
    }
}

.section-layout-1 {
    position: relative;
    display: flex;
}

.section-layout-1 .rights {
    color: #151515;
}

.section-layout-1-image {
    display: none;
}

.section-layout-1-inner {
    position: relative;
    z-index: 1;
    display: flex;
    min-height: 100vh;
    flex-grow: 1;
}

.section-layout-1-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-layout-1-header,
.section-layout-1-footer {
    text-align: center;
}

.section-layout-1-header,
.section-layout-1-main,
.section-layout-1-footer {
    padding: 30px 0;
}

@media (min-width: 768px) {
    .section-layout-1-content {
        max-width: 740px;
    }
    .section-layout-1-header {
        padding-top: 60px;
    }
    .section-layout-1-footer {
        padding-bottom: 60px;
    }
}

@media (min-width: 1200px) {
    .section-layout-1-image {
        position: relative;
        display: block;
        flex-basis: 43.69792%;
        flex-shrink: 10;
        background-size: cover;
        background-position: 40% 0;
    }
    .section-layout-1-image::after {
        display: none;
    }
    .section-layout-1-inner {
        min-width: 56.30208%;
        flex-shrink: 0;
        padding: 0 60px;
    }
    .section-layout-1-content {
        margin-left: 0;
    }
    .section-layout-1-header,
    .section-layout-1-footer {
        text-align: left;
    }
}

@media (min-width: 1600px) {
    .section-layout-1-image {
        background-position: 48% 0;
    }
    .section-layout-1-inner {
        padding-left: 130px;
    }
}

@media (min-width: 1200px) and (min-height: 820px) {
    .section-layout-1-header {
        padding-top: 90px;
        padding-bottom: 40px;
    }
    .section-layout-1-footer {
        padding-top: 40px;
        padding-bottom: 90px;
    }
}

.section-layout-2 {
    position: relative;
    display: flex;
}

.section-layout-2 .rights {
    color: #151515;
}

.section-layout-2-figure {
    display: none;
}

.section-layout-2-inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    width: 100%;
}

.section-layout-2-header,
.section-layout-2-main,
.section-layout-2-footer {
    padding: 30px 0;
    text-align: center;
}

.section-layout-2-header,
.section-layout-2-footer {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .section-layout-2-content {
        max-width: 640px;
    }
    .section-layout-2-header {
        padding-top: 60px;
    }
    .section-layout-2-footer {
        padding-bottom: 60px;
    }
}

@media (min-width: 1200px) {
    .section-layout-2-main {
        display: flex;
        align-items: center;
        flex-grow: 1;
        text-align: left;
    }
    .section-layout-2-figure {
        position: relative;
        display: block;
        flex-basis: 43.69792%;
        align-self: stretch;
    }
    .section-layout-2-figure::before {
        content: '';
        display: block;
        padding-bottom: 71.61836%;
    }
    .section-layout-2-figure img {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(-5%, -50%);
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: auto;
        max-width: none;
    }
    @supports (object-fit: cover) {
        .section-layout-2-figure img {
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transform: none;
            object-fit: cover;
            object-position: 5% center;
        }
    }
    .section-layout-2-content {
        min-width: 56.30208%;
        flex-shrink: 0;
        max-width: 740px;
        padding: 30px 70px 70px;
        margin-left: 0;
    }
}

@media (min-width: 1600px) {
    .section-layout-2-content {
        padding-left: 140px;
        padding-bottom: 80px;
    }
}

@media (min-width: 1200px) and (min-height: 820px) {
    .section-layout-2-header {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .section-layout-2-footer {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

.section-layout-3-outer {
    display: flex;
    flex-direction: column;
}

.section-layout-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.section-layout-3>* {
    width: 100%;
}

.section-layout-3::after {
    content: '';
    align-content: space-between;
    opacity: 0;
    visibility: hidden;
}

.section-decoration-1 {
    position: relative;
    overflow: hidden;
}



.section-decoration-1>* {
    position: relative;
    z-index: 1;
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .section-decoration-1::before {
        font-size: 100vw;
    }
}

@media (min-width: 768px) {
    .section-decoration-1::before {
        font-size: 54vw;
    }
}

@media (min-width: 992px) {
    .section-decoration-1::before {
        top: 55%;
        left: 70%;
        transform: translate3d(-50%, -35%, 0);
        font-size: 90vw;
    }
}

@media (min-width: 1200px) {
    .section-decoration-1::before {
        font-size: 54vw;
    }
}

.section+.section-decoration-1,
.section-decoration-1+.section {
    border-top: 1px solid #ebebeb;
}

.section-decoration-2 {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, #f8f8f8, #ffffff);
}

.section-decoration-2>* {
    position: relative;
    z-index: 1;
}

.section-decoration-2-element::before {
    content: '\e996';
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .section-decoration-2-element {
        font-size: 100vmax;
    }
}

@media (min-width: 768px) {
    .section-decoration-2-element {
        top: 24%;
        left: 0;
        transform: translate3d(-50%, -44%, 0);
        font-size: 80vmax;
    }
}

@media (min-width: 992px) {
    .section-decoration-2-element {
        font-size: 70vmax;
    }
}

@media (min-width: 1600px) {
    .section-decoration-2-element {
        font-size: 48vmax;
        left: 0;
        transform: translate3d(-42.5%, -44%, 0);
    }
}

.section-decoration-3 {
    position: relative;
    overflow: hidden;
    padding: 50px 0 0;
}

.section-decoration-3-text {
    margin-left: .24em;
    margin-bottom: -.25em;
    font-size: 40px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: .12em;
    color: rgba(0, 0, 0, 0.17);
    text-transform: uppercase;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .section-decoration-3 {
        padding: 85px 0 0;
    }
    .section-decoration-3-text {
        font-size: 90px;
    }
}

@media (min-width: 992px) {
    .section-decoration-3-text {
        font-size: 100px;
        letter-spacing: .3em;
    }
    *+.section-decoration-3-text {
        margin-top: 50px;
    }
}

@media (min-width: 1200px) {
    .section-decoration-3-text {
        font-size: 115px;
        letter-spacing: .44em;
    }
}

.section-decoration-4 {
    position: relative;
    overflow: hidden;
    padding: 40px 0 100px;
    min-height: 30.20833vw;
}

html .section-decoration-4 {
    background-color: transparent;
}

.section-decoration-4>* {
    position: relative;
    z-index: 3;
}

.section-decoration-4::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: 2;
    background: linear-gradient(to top, rgba(134, 180, 204, 0.05) 0%, #4cadd5 100%);
}

.section-decoration-4-decoration {
    position: absolute;
    left: -10%;
    bottom: -24%;
    right: -10%;
    z-index: 1;
    opacity: .8;
    width: auto;
    height: auto;
    pointer-events: none;
}

.section-decoration-4-decoration img {
    width: 100%;
}

@media (max-width: 767.98px) {
    .section-decoration-4-decoration {
        min-width: 1000px;
    }
}

@media (min-width: 1200px) {
    .section-decoration-4 {
        padding: 100px 0 240px;
    }
}

@media (min-width: 2050px) {
    .section-decoration-4 {
        min-height: 580px;
    }
}

.section-group-top {
    padding: 50px 0 40px;
}

.section-group-bottom {
    padding: 10px 0 50px;
}

.section-group-bottom-content {
    position: relative;
    z-index: 1;
}

@media (min-width: 576px) {
    .section-group-top {
        padding-bottom: 80px;
    }
    .section-group-top+.section-group-bottom {
        padding-top: 0;
        margin-top: -40px;
    }
}

@media (min-width: 768px) {
    .section-group-top {
        padding: 80px 0 130px;
    }
    .section-group-top+.section-group-bottom {
        margin-top: -90px;
    }
}

@media (min-width: 1200px) {
    .section-group-top {
        padding: 100px 0 190px;
    }
    .section-group-bottom {
        padding: 80px 0 100px;
    }
    .section-group-top+.section-group-bottom {
        margin-top: -140px;
    }
}


.grid-demo {
    letter-spacing: 0;
    text-align: center;
}

.grid-demo h6 {
    font-weight: 600;
}

.grid-demo p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-demo *+p {
    margin-top: 5px;
}

.grid-demo *+.row {
    margin-top: 20px;
}

.grid-demo .row+.row {
    margin-top: 0;
}

@media (min-width: 1200px) {
    .grid-demo {
        text-align: left;
    }
    .grid-demo p {
        white-space: normal;
        overflow: visible;
        text-overflow: unset;
    }
    .grid-demo *+p {
        margin-top: 25px;
    }
}

.grid-demo-bordered .row {
    border: 0 solid #ebebeb;
    border-top-width: 1px;
}

.grid-demo-bordered .row:last-child {
    border-bottom-width: 1px;
}

.grid-demo-bordered [class*='col'] {
    padding: 5px 15px;
}

.grid-demo-bordered [class*='col']:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    border-left: 1px solid #ebebeb;
}

@media (min-width: 768px) {
    .grid-demo-bordered [class*='col'] {
        padding: 30px;
    }
}

@media (min-width: 1200px) {
    .grid-demo-bordered [class*='col'] {
        padding: 50px 50px 45px;
    }
}

.grid-demo-underlined .row {
    border-bottom: 1px solid #ebebeb;
}

.grid-demo-underlined [class*='col'] {
    padding: 5px 15px;
}

@media (min-width: 768px) {
    .grid-demo-underlined [class*='col'] {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (min-width: 1200px) {
    .grid-demo-underlined [class*='col'] {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

.row-x-16 {
    margin-left: -8px;
    margin-right: -8px;
}

.row-x-16>[class*='col'] {
    padding-left: 8px;
    padding-right: 8px;
}

@media (min-width: 992px) {
    .row-lg-x-50 {
        margin-left: -25px;
        margin-right: -25px;
    }
    .row-lg-x-50>[class*='col'] {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media (min-width: 1200px) {
    .container-wide {
        max-width: 100%;
    }
}

@media (min-width: 1600px) {
    .container-wide {
        max-width: 1600px;
    }
}

.container-fullwidth {
    max-width: 2050px;
    margin-left: auto;
    margin-right: auto;
}

*+.container-fullwidth {
    margin-top: 25px;
}

@media (min-width: 768px) {
    *+.container-fullwidth {
        margin-top: 40px;
    }
}

@media (min-width: 1200px) {
    *+.container-fullwidth {
        margin-top: 50px;
    }
}

.range {
    display: flex;
    flex-wrap: wrap;
}

.cell-inner {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.range>[class*='cell'] {
    position: relative;
    width: 100%;
    min-height: 1px;
}

.range>[class*='cell']>.row {
    margin: 0;
}

.range>[class*='cell'].container {
    padding: 0;
}

.range>[class*='col'] {
    padding: 0;
}

@media (min-width: 576px) {
    .cell-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .cell-sm-6 .cell-inner {
        max-width: 270px;
    }
    .range>[class*='cell-sm']:nth-child(odd) .cell-inner {
        margin-left: auto;
    }
    .range.flex-sm-row-reverse>[class*='cell-sm']:nth-child(odd) .cell-inner {
        margin-left: 0;
    }
    .range.flex-sm-row-reverse>[class*='cell-sm']:nth-child(even) .cell-inner {
        margin-left: auto;
    }
    .range>[class*='cell-sm'].container {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .range>[class*='cell-md']:nth-child(odd) .cell-inner {
        margin-left: auto;
    }
    .range.flex-md-row-reverse>[class*='cell-md']:nth-child(odd) .cell-inner {
        margin-left: 0;
    }
    .range.flex-md-row-reverse>[class*='cell-md']:nth-child(even) .cell-inner {
        margin-left: auto;
    }
    .range>[class*='cell-md'].container {
        margin: 0;
    }
    .cell-md-5 {
        flex: 0 0 calc(50% - 60px);
        max-width: calc(50% - 60px);
    }
    .cell-md-5 .cell-inner {
        max-width: 300px;
    }
    .cell-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .cell-md-6 .cell-inner {
        max-width: 360px;
    }
}

@media (min-width: 992px) {
    [class*='cell-lg']>.row>[class*='col'] {
        flex-basis: 100%;
    }
    .cell-lg-5 {
        flex: 0 0 calc(50% - 80px);
        max-width: calc(50% - 80px);
    }
    .cell-lg-5 .cell-inner {
        max-width: 400px;
    }
    .cell-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .cell-lg-6 .cell-inner {
        max-width: 480px;
    }
    .range>[class*='cell-lg']:nth-child(odd) .cell-inner {
        margin-left: auto;
    }
    .range.flex-lg-row-reverse>[class*='cell-lg']:nth-child(odd) .cell-inner {
        margin-left: 0;
    }
    .range.flex-lg-row-reverse>[class*='cell-lg']:nth-child(even) .cell-inner {
        margin-left: auto;
    }
    .range>[class*='cell-lg'].container {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .range>[class*='cell-xl'].container {
        margin: 0;
    }
    .range>[class*='cell-xl']:nth-child(odd) .cell-inner {
        margin-left: auto;
    }
    .range .cell-inner {
        flex-basis: 100%;
    }
    .cell-xl-7 {
        flex: 0 0 calc(50% - -100px);
        max-width: calc(50% - -100px);
    }
    .cell-xl-7 .cell-inner {
        max-width: 700px;
    }
    .cell-lg-6,
    .cell-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .cell-lg-6 .cell-inner,
    .cell-xl-6 .cell-inner {
        max-width: 600px;
    }
    .cell-xl-5 {
        flex: 0 0 calc(50% - 100px);
        max-width: calc(50% - 100px);
    }
    .cell-xl-5 .cell-inner {
        max-width: 500px;
    }
    .cell-xl-4 {
        flex: 0 0 calc(50% - 200px);
        max-width: calc(50% - 200px);
    }
    .cell-xl-4 .cell-inner {
        max-width: 400px;
    }
}

@media (min-width: 1600px) {
    .cell-xxl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .cell-xxl-6 .cell-inner {
        max-width: 600px;
    }
}

.context-dark .brand .brand-logo-dark,
.bg-gray-900 .brand .brand-logo-dark,
.bg-accent .brand .brand-logo-dark {
    display: none;
}

.context-dark .brand .brand-logo-light,
.bg-gray-900 .brand .brand-logo-light,
.bg-accent .brand .brand-logo-light {
    display: block;
}

.context-dark .button-default,
.bg-gray-900 .button-default,
.bg-accent .button-default {
    color: #2c343b;
    background: #ffffff;
    border-color: #ffffff;
}

.context-dark .button-default:hover,
.bg-gray-900 .button-default:hover,
.bg-accent .button-default:hover {
    background: #ffe65b;
    border-color: #ffe65b;
}

.context-dark .heading-decoration-1::before,
.bg-gray-900 .heading-decoration-1::before,
.bg-accent .heading-decoration-1::before {
    background: rgba(255, 255, 255, 0.66);
}

.context-dark .select2-container--default .select2-selection--single,
.bg-gray-900 .select2-container--default .select2-selection--single,
.bg-accent .select2-container--default .select2-selection--single {
    border-color: #ffffff;
}

/*
* Light Backgrounds
*/

.bg-white {
    background-color: #ffffff;
}

.bg-white:not([style*="background-"])+.bg-white:not([style*="background-"]) {
    padding-top: 0;
}

.bg-gray-100 {
    background-color: #f9f8f8;
}

.bg-gray-100:not([style*="background-"])+.bg-gray-100:not([style*="background-"]) {
    padding-top: 0;
}

.bg-gray-100-color {
    background: #f9f8f8;
}

.bg-gray-3 {
    background-color: #fefefe;
}

.bg-gray-3:not([style*="background-"])+.bg-gray-3:not([style*="background-"]) {
    padding-top: 0;
}



.box-modern-title {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: 0;
    color: #151515;
    text-transform: uppercase;
}

.box-modern-text {
    color: rgba(21, 21, 21, 0.8);
}

.box-modern-media {
    position: relative;
    padding: 20px 0;
    font-size: 60px;
    line-height: 1;
    min-height: 1.3em;
    width: 1.9em;
    margin-left: auto;
    margin-right: auto;
}

.box-modern-circle-1,
.box-modern-circle-2 {
    position: absolute;
    border-radius: 50%;
}

.box-modern-circle-1 {
    left: 0;
    bottom: 0;
    width: 1.23em;
    height: 1.23em;
    background: rgba(48, 97, 255, 0.1);
}

.box-modern-circle-2 {
    top: 0;
    right: 0;
    width: 0.54em;
    height: 0.54em;
    background: #f5f8a0;
}

.box-modern_alternate .box-modern-circle-1 {
    top: 0;
    bottom: auto;
}

.box-modern_alternate .box-modern-circle-2 {
    top: auto;
    bottom: 0;
}

.box-modern_alternate-1 .box-modern-circle-1 {
    right: 0;
    left: auto;
}

.box-modern_alternate-1 .box-modern-circle-2 {
    right: auto;
    left: auto;
}

.box-modern-icon {
    position: relative;
    z-index: 2;
    right: -5%;
    font-size: inherit;
    color: #09b294;
}

.box-modern-sm .box-modern-media {
    width: 1.7em;
}

.box-modern-sm .box-modern-icon {
    opacity: 1;
}

*+.box-modern-text {
    margin-top: 12px;
}

@media (max-width: 575.98px) {
    .box-modern {
        max-width: 370px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .box-modern {
        padding: 45px 30px;
    }
    .box-modern-title {
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .box-modern {
        padding-left: 9px;
        padding-right: 9px;
    }
}

@media (min-width: 1200px) {
    .box-modern {
        padding-top: 55px;
        padding-bottom: 60px;
    }
    .box-modern-media {
        font-size: 85px;
    }
    *+.box-modern-text {
        margin-top: 24px;
    }
    *+.box-modern-title {
        margin-top: 20px;
    }
    .box-modern-sm .box-modern-media {
        font-size: 64px;
    }
    .box-modern-sm .box-modern-title {
        font-size: 22px;
    }
    .box-modern-sm .box-modern-text {
        font-size: 1rem;
    }
}

.box-light {
    position: relative;
    padding: 30px 20px 20px;
    background: #ffffff;
    text-align: left;
}

.box-light::before,
.box-light::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 5px;
    transition: .44s;
}



